

.slick-dots {
  bottom: -56px;
}

.slick-dots li {
  width: 8px;
  height: 8px;

  margin: 0 6px;
}

.slick-dots li button {
  width: 8px;
  height: 8px;
  font-size: 0px;
  padding: 0;
}

.slick-dots li button:before {
  font-size: 0px;
  border-radius: 15px;
  width: 8px;
  height: 8px;
  opacity: 1;
  background: rgba(244, 244, 244, 0.08);
}

.slick-dots .slick-active button:before {
  background: #f4f4f4;
}
