#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top 0px right 0px;
  background-size: contain;

  background-image: image-set(
    url("./images/hero/splash_mobi1x.webp") type("image/webp") 1x,
    url("./images/hero/splash_mobi1x.webp") type("image/webp") 2x,
    url("./images/hero/splash_mobi1x.png") type("image/png") 1x,
    url("./images/hero/splash_mobi2x.png") type("image/png") 2x
  );

  @media screen and (min-width: 768px) {
    background-image: image-set(
      url("./images/hero/splash_tablet1x.webp") type("image/webp") 1x,
      url("./images/hero/splash_tablet2x.webp") type("image/webp") 2x,
      url("./images/hero/splash_tablet1x.png") type("image/png") 1x,
      url("./images/hero/splash_tablet2x.png") type("image/png") 2x
    );
    background-size: 926px 965px;
  }

  @media screen and (min-width: 1440px) {
    background-image: image-set(
      url("./images/hero/splash_desktop1x.webp") type("image/webp") 1x,
      url("./images/hero/splash_desktop2x.webp") type("image/webp") 2x,
      url("./images/hero/splash_desktop1x.png") type("image/png") 1x,
      url("./images/hero/splash_desktop2x.png") type("image/png") 2x
    );
    background-size: 1070px 1115px;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
